.jumbotron
{
    background-image: url("../images/arrierePlan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.textP
{
    text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
}

